NODE_ENV=production

# Client Configuration
API_URL=https://backend.example.com
MINI_APP_URL=https://t.me/mybot/myapp

# Web Server Configuration
CORS_ENABLED=false
CORS_ORIGIN=https://ton-community.github.io
NGROK_ENABLED=false
NGROK_AUTHTOKEN=[bafkreigcfqbhdcjfb4cj6wlen5ixcvzzhr7hjke4arvyd4yl5x6idwvmra]
NGROK_DOMAIN=[bafkreigcfqbhdcjfb4cj6wlen5ixcvzzhr7hjke4arvyd4yl5x6idwvmra]

# Network Configuration
NETWORK=testnet

# Your MNEMONIC, 24 words separated by spaces
MNEMONIC=[bafkreigcfqbhdcjfb4cj6wlen5ixcvzzhr7hjke4arvyd4yl5x6idwvmra]

# Pinata API Keys, follow to get your own: https://pinata.cloud/keys
PINATA_API_KEY=[bafkreigcfqbhdcjfb4cj6wlen5ixcvzzhr7hjke4arvyd4yl5x6idwvmra]
PINATA_SECRET=[191919]

# Bot Token
TELEGRAM_BOT_TOKEN=[1687389047:AAEJ5xrixnNOrDCBDEa9JgwCZPwcQfQnBbY]

# Jetton
JETTON_ADDRESS=[EQAdWzm1d_Jxqq-9_CEXIQ04zwI2-IYh3fFtG1PYi9V0rW5w]

# SBT Collection
FIRST_TIME_SBT_COLLECTION_ADDRESS=[EQAdWzm1d_Jxqq-9_CEXIQ04zwI2-IYh3fFtG1PYi9V0rW5w]
FIVE_TIMES_SBT_COLLECTION_ADDRESS=[EQAdWzm1d_Jxqq-9_CEXIQ04zwI2-IYh3fFtG1PYi9V0rW5w]
